<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">

</head>
<body>
    <header class="header">
        
        <div class="header-encabezado-img">
            <img class="mercadoLibre" src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa" width="300">
                
            <span class="header-barraBusqueda">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fas fa-search "></i>
            </span>

            <span class="header-mensajeCompra">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </span>

        </div>       
            
        <nav class="header-navegacion">
            <div class="header-sesion1-2">
                <ul class="haeder-sesion1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                
                <ul class="haeder-sesion2">
                    <span class="header-formularios">
                        <li><a href="/register">Creá tu cuenta</a></li>
                        <i class="fas fa-user-circle"></i>
                    </span>
                
                    <span class="header-formularios">
                        <li><a href="/login">Ingresá</a></li>
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                
                    <span class="header-formularios">
                        <li><a href="#">Mis compras</a></li>
                        <i class="fas fa-shopping-basket"></i>
                    </span>
                </ul>
            </div>
            
        </nav>

        <div class="header-barras">
            <i class="fas fa-bars fa-2x" style="color: white;"></i>
        </div>

    </header>

    <section>
        <div class="imagen-banner"><img src="/images/img-home-banner.jpg"  alt="Logo de la empresa" ></div>
    </section>

    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
                <div class="section-articulos">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="contenedor-articulo">
                            <div class="iconos">
                                <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                            </div>
                            <div class="concatenado">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                            </div>
                        
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                    </article>
                        
                    <article>
                            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                            <div class="contenedor-articulo">
                                <div class="iconos">
                                    <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                                </div>
                                <div class="concatenado">
                                    <p class="precio">$230.000</p>
                                    <p class="descuento">20% off</p>
                                </div>
                        
                                <h4 class="descripciones">MacBook Pro 2019</h4>
                            </div>
                    </article>
                        
                    <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung" class="product_img">
                            <div class="contenedor-articulo">
                                <div class="iconos">
                                    <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                                </div>
                                <div class="concatenado">
                                    <p class="precio">$70.500</p>
                                    <p class="descuento">10% off</p>
                                </div>
                        
                                <h4 class="descripciones">Samsung Galaxy S10</h4>
                            </div>
                    </article>
                        
                    <article>
                            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv" class="product_img">
                            <div class="contenedor-articulo">
                                <div class="iconos">
                                    <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                                </div>
                                <div class="concatenado">
                                    <p class="precio">$23.200</p>
                                    <p class="descuento">5% off</p>
                                </div>
                                <h4 class="descripciones">SmartTv Samsung 43"</h4>
                            </div>
                    </article>
                </div>
                     
        </section>
            <h3 class="titulares">Sección de Ofertas</h3>
        <section>
            <div class="section-articulos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <div class="contenedor-articulo">
                        <div class="iconos">
                            <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                        </div>
                        <div class="concatenado">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <div class="contenedor-articulo">
                        <div class="iconos">
                            <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                        </div>
                        <div class="concatenado">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung" class="product_img">
                    <div class="contenedor-articulo">
                        <div class="iconos">
                            <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                        </div>
                        <div class="concatenado">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv" class="product_img">
                    <div class="contenedor-articulo">
                        <div class="iconos">
                            <i class="fas fa-truck fa" style="color: #39b54a;"></i>
                        </div>
                        <div class="concatenado">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
            

        </section>
    </main>

    <footer>

        <div class="container">
            <div class="info-slide">
               <div class="img-container">
                    <i class="fas fa-credit-card fa-3x" style="color: rgb(11, 11, 219);"></i>
               </div>
                <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
                <p class="descripcion-footer">
                    <span >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                           puntos de pago. ¡Y siempre es seguro!</span>
                </p>
            </div>

            <div class="info-slide">
                <div class="img-container">
                    <i class="fas fa-gift fa-3x" style="color:rgb(11, 11, 219);"></i>
                </div>
                <p class="titulo-footer">Envío gratis desde $ 2.500</p>
                <p class="descripcion-footer">
                    <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                          productos. Es un beneficio de Mercado Puntos.</span>
                </p>
            </div>

            <div class="info-slide">
                <div class="img-container">
                    <i class="fas fa-user-shield fa-3x" style="color:rgb(11, 11, 219);"></i>
                </div>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="descripcion-footer">
                    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                           porque estás siempre protegid@.</span>
                </p>
            </div>
        </div>

        <p class="final-footer">Copyringt @ 1999-2020 MercadoLibre S.R.L</p>
    </footer>
</body>
</html>